*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: "TT Commons Pro", "Google Sans Flex", sans-serif;
  font-size: size-desktop($fz-default);
  font-weight: 500;
  line-height: 140%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
