*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-family: $ff-primary;
  font-size: size-desktop($fz-default);
  font-weight: 500;
  line-height: 140%;
  color: $color-main;
  background-color: $background-main;

  @include vp-1439 {
    font-size: size-desktop($fz-default);
  }

  @include vp-767 {
    font-size: size-tablet($fz-tablet);
  }

  @include vp-374 {
    font-size: size-mobile($fz-tablet);
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
