*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: 'TT Commons Pro', 'Google Sans Flex', sans-serif;
  font-size: size-desktop(16px);
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
