.banner {
  min-width: size(1382px);
  display: grid;
  row-gap: size(24px);
}

.banner__title {
  font-family: $ff-second;
  font-size: size(14px);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: size(-0.4px);
  text-transform: lowercase;
  margin: 0;
  margin-bottom: size(8px);
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}


.banner__subtitle-wrapper {
  font-family: $ff-second;
  font-size: size(36px);
  font-weight: 600;
  line-height: 1.13;
  letter-spacing: size(-1.1px);
  color: $color-banner;
  margin-bottom: size(8px);
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}

.banner__subtitle-wrapper .banner__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__subtitle-wrapper-banner-1 {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: min-content min-content auto min-content auto size(3px) min-content auto;
}

.banner__subtitle {
  margin: 0;
}

.banner__subtitle-wrapper-banner-1 .banner__subtitle--one {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  margin-right: size(10px);
}

.banner__subtitle-wrapper-banner-1 .banner__subtitle--two {
  text-transform: lowercase;
  margin-bottom: size(9px);
  grid-row: 2 / 3;
  grid-column: 2 / 6;
}

.banner__subtitle-wrapper-banner-1 .banner__subtitle--three {
  grid-row: 2 / 3;
  grid-column: 8 / 9;
}

.banner__subtitle-wrapper-banner-1 .banner__subtitle--four {
  background-color: $background-accent;
  padding: size(3px) size(23px) size(5px);
  border-radius: 154px;
  grid-row: 3 / 4;
  grid-column: 3 / 7;
}

.banner__subtitle-wrapper-banner-1 .banner__icon--one {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

.banner__subtitle-wrapper-banner-1 .banner__icon--one svg {
  width: size(40px);
  height: size(31px);
}

.banner__subtitle-wrapper-banner-1 .banner__image--heart {
  width: size(40px);
  height: size(40px);
  margin-right: size(4px);
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.banner__subtitle-wrapper-banner-1 .banner__image--building {
  width: size(40px);
  height: size(40px);
  grid-row: 2 / 3;
  grid-column: 7 / 8;
}

.banner__subtitle-wrapper-banner-1 .banner__icon--two {
  width: size(64px);
  height: size(49px);
  background-color: $background-accent;
  border-radius: 154px;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.banner__subtitle-wrapper-banner-1 .banner__icon--two svg {
  width: size(28px);
  height: size(28px);
}

.banner__description {
  max-width: size(464px);
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: size(-0.4px);
  margin: 0;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

.banner__gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-row: 1 / -1;
  grid-column: 3 / 5;
}

.banner__gallery-item {
  width: min-content;
  height: min-content;
}

.banner__gallery--one {
  display: grid;
  grid-template-rows: size(8px) min-content size(30px) size(134px) min-content min-content;
  grid-template-columns: min-content size(40px) min-content size(60px) min-content size(181px) min-content;
}

.banner__gallery--one .banner__gallery-item--one {
  grid-row: 4 / 6;
  grid-column: 1 / 3;
}

.banner__gallery--one .banner__gallery-item--one .banner__gallery-item-image {
  width: size(280px);
  height: size(194px);
  box-shadow: 0 20px 37px 0 rgba(0, 0, 0, 0.16);
}

.banner__gallery--one .banner__gallery-item--two {
  grid-row: 2 / 5;
  grid-column: 2 / 5;
  z-index: 1;
}

.banner__gallery--one .banner__gallery-item--two .banner__gallery-item-image {
  width: size(180px);
  height: size(390px);
  border-radius: 29px;
  box-shadow:
    0 0.8px 0.7px 0 rgba(0, 0, 0, 0.04),
    0 1.8px 1.6px 0 rgba(0, 0, 0, 0.06),
    0 3px 3px 0 rgba(0, 0, 0, 0.07),
    0 47px 34px 0 rgba(0, 0, 0, 0.14);
}

.banner__gallery--one .banner__gallery-item--three {
  grid-row: 3 / 7;
  grid-column: 4 / 7;
  z-index: 2;
  position: relative;
  border-radius: 23px;
}

.banner__gallery--one .banner__gallery-item--three .banner__gallery-item-image {
  width: size(278px);
  height: size(278px);
  border-radius: 23px;
  box-shadow:
    0 33px 34px 0 rgba(0, 0, 0, 0.12),
    5px -5px 12px 5px rgba(255, 255, 255, 0.2);
}

.banner__gallery--one .banner__gallery-item--three img {
  border-radius: 23px;
}

.banner__gallery--one .banner__gallery-item--three .banner__item-icon {
  width: size(63px);
  height: size(50px);
  background-color: $background-accent;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: size(187px);
  left: size(247px);
}

.banner__gallery--one .banner__gallery-item--three svg {
  width: size(36px);
  height: size(30px);
}

.banner__gallery--one .banner__gallery-item--four {
  margin-top: size(8px);
  grid-row: 2 / 5;
  grid-column: 6 / 8;
  z-index: 3;
}

.banner__gallery--one .banner__gallery-item--four .banner__gallery-item-image {
  width: size(374px);
  height: size(297px);
}

.banner__subtitle-wrapper-banner-2 {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: min-content size(10px) auto;
}

.banner__subtitle-wrapper-banner-2 .banner__subtitle--one {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.banner__subtitle-wrapper-banner-2 .banner__subtitle--two,
.banner__subtitle-wrapper-banner-2 .banner__subtitle--three {
  text-transform: lowercase;
}

.banner__subtitle-wrapper-banner-2 .banner__subtitle--two {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.banner__subtitle-wrapper-banner-2 .banner__subtitle--three {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}

.banner__subtitle-wrapper-banner-2 .banner__icon {
  width: size(50px);
  height: size(40px);
  background-color: $background-accent;
  border-radius: 12px;
  margin-right: size(8px);
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.banner__subtitle-wrapper-banner-2 .banner__icon svg {
  width: size(22px);
  height: size(27px);
}

.banner__gallery--two {
  display: grid;
  grid-template-rows: size(72px) size(128px) min-content size(42px) size(72px) min-content size(23px) size(13px) min-content min-content;
  grid-template-columns: size(95px) auto size(18px) size(61px) size(167px) size(34px) size(113px) size(81px) auto auto;
}

.banner__gallery--two .banner__gallery-item--one {
  grid-row: 1 / 10;
  grid-column: 4 / 6;
}

.banner__gallery--two .banner__gallery-item--one .banner__gallery-item-image,
.banner__gallery--two .banner__gallery-item--two .banner__gallery-item-image {
  width: size(227px);
  height: size(480px);
}

.banner__gallery--two .banner__gallery-item--two {
  grid-row: 2 / 11;
  grid-column: 7 / 10;
}

.banner__gallery--two .banner__gallery-item--three {
  grid-row: 5 / 7;
  grid-column: 1 / 5;
  z-index: 1;
}

.banner__gallery--two .banner__gallery-item--three .banner__gallery-item-image {
  width: size(234px);
  height: size(124px);
  border-radius: 15px;
}

.banner__gallery--two .banner__gallery-item--three img {
  border-radius: 15px;
}

.banner__gallery--two .banner__gallery-item--four {
  grid-row: 6 / 8;
  grid-column: 8 / 11;
  z-index: 1;
}

.banner__gallery--two .banner__gallery-item--four .banner__gallery-item-image {
  width: size(234px);
  height: size(74px);
}

.banner__gallery--two .banner__gallery-item--four img {
  border-radius: 12px;
}

.banner__gallery--two .banner__gallery-item--five {
  grid-row: 9 / 10;
  grid-column: 9 / 11;
  z-index: 1;
}

.banner__gallery--two .banner__gallery-item--five .banner__gallery-item-image {
  width: size(104px);
  height: size(30px);
}

.banner__gallery--two .banner__gallery-item--five img {
  border-radius: 45px;
}

.banner__gallery--two .banner__gallery-item--six {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.banner__gallery--two .banner__gallery-item--six .banner__gallery-item-image {
  width: size(60px);
  height: size(60px);
}

.banner__gallery--two .banner__gallery-item--six img {
  border-radius: 22px;
}

.banner__gallery--two .banner__gallery-item--three img,
.banner__gallery--two .banner__gallery-item--four img,
.banner__gallery--two .banner__gallery-item--five img,
.banner__gallery--two .banner__gallery-item--six img {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.05);
}

.banner__button {
  width: size(224px);
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}
