.banners {
  padding: size(80px) size(28px) 0 size(30px);

  @include tablet {
    min-height: size-tablet(510px);
  }

  @include mobile {
    display: none;
  }
}

.banners__slider {
  position: relative;
}

.banners__slides-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: size(30px);
  overflow: hidden;
}

.banners__slide {
  width: size(1382px);
  border-radius: 30px;
  margin: 0 auto;

  &--one {
    background-color: $color-second;
    padding: size(62px) size(20px) size(77px) size(30px);
    grid-template-rows: size(15px) min-content min-content min-content min-content size(100px);
    grid-template-columns: auto size(277px) size(40px) 1fr;
  }

  &--two {
    background-color: $background-banner;
    background-image: linear-gradient(295deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
    padding: size(50px) size(96px) size(49px) size(30px);
    grid-template-rows: size(28px) min-content min-content min-content min-content min-content;
    grid-template-columns: auto size(249px) size(40px) 1fr;
  }
}

.banners__slide--two .banner__description {
  letter-spacing: size(-0.3px);
}

.banners__pagination {
  position: absolute;
  bottom: size(40px);
  left: size(40px);
  display: flex;
  column-gap: size(10px);
}

.banners__pagination-button {
  width: size(10px);
  height: size(10px);
  border: none;
  border-radius: 50%;
  background-color: $color-main;
  padding: 0;
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}
