.contacts,
.contacts__main,
.contacts__tg {
  display: flex;
  flex-direction: column;
}

.contacts {
  row-gap: size(39px);

  @include tablet {
    flex-direction: row;
    column-gap: size-tablet(58px);
    row-gap: unset;
  }

  @include mobile {
    row-gap: size-mobile(21px);
    padding: size-mobile(20px) size-mobile(8px) size-mobile(20px) size-mobile(20px);
  }
}

.contacts__main,
.contacts__tg {
  row-gap: size(5px);

  @include tablet {
    row-gap: size-tablet(10px);
  }

  @include mobile {
    row-gap: size-mobile(8px);
  }
}

.contacts__email,
.contacts__phone,
.contacts__tg-address {
  font-size: size(18px);
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: size(-0.2px);
  text-underline-offset: size(4px);
  color: inherit;
  transition: color 0.3s ease;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-main-transparent;
  }

  @include tablet {
    font-size: size-tablet(15px);
    letter-spacing: size-tablet(-0.2px);
    text-underline-offset: size-tablet(4px);
  }

  @include mobile {
    font-size: size-mobile(15px);
    letter-spacing: size-mobile(-0.2px);
    text-underline-offset: size-mobile(4px);
  }
}

.contacts__phone,
.contacts__tg-address {
  text-decoration: underline;
}

.contacts__tg-address {
  display: flex;
  align-items: center;
  column-gap: size-mobile(5px);
}

.contacts__tg-address svg {
  @include tablet-etalon {
    display: none;
  }

  width: size-mobile(14px);
  height: size-mobile(14px);
}

.contacts__tg-text {
  font-family: $ff-second;
  font-size: size(13px);
  line-height: 110%;
  letter-spacing: size(-0.5px);
  text-transform: lowercase;
  color: $color-main-transparent;

  @include tablet {
    font-size: size-tablet(13px);
    letter-spacing: size-tablet(-0.5px);
  }

  @include mobile {
    display: none;
  }
}
