.main-button {
  font-family: $ff-second;
  font-size: size(14px);
  line-height: 120%;
  font-weight: 600;
  letter-spacing: size(-0.4px);
  text-transform: lowercase;
  text-align: center;
  color: $color-second;
  background-color: $color-main;
  border: none;
  border-radius: 15px;
  padding: size(22px);

  @include tablet {
    font-size: size-tablet(13px);
    border-radius: 12px;
    padding: size-tablet(16px);
  }

  @include mobile {
    font-size: size-mobile(13px);
    border-radius: 10px;
    padding: size-mobile(16px);
  }
}
